<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">
	<bean id="memcachedClient" class="com.whalin.MemCached.MemCachedClient">
		<constructor-arg  index="0" type="String">
			<value>test</value>
		</constructor-arg>
		<constructor-arg  index="1" type="boolean">
			<value>false</value>
		</constructor-arg>
		<constructor-arg  index="2" type="boolean">
			<value>false</value>
		</constructor-arg>
	</bean>

	<bean id="sockIOPool" class="com.whalin.MemCached.SockIOPool"
		factory-method="getInstance" init-method="initialize" destroy-method="shutDown">
		<constructor-arg>
			<value>test</value>
		</constructor-arg>
		<property name="servers">
			<list>
				<value>${memcache.server}</value>
			</list>
		</property>
	</bean>

	<context:property-placeholder
		ignore-resource-not-found="true" location="classpath*:memcached.properties" />
</beans>